.answer {
  background-color: aliceblue;
  width: 80vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}