.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
}

.sidebar__divider {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar__linkdivider {
  background-color: var(--sidebar-background);
  overflow-x: hidden;
  color: var(--sidebar-textcolor);
}

.sidebar__linkdivider a {
  color: var(--sidebar-textcolor);
}

.sidebar__linkdivider--state-hidden {
  width: 0;
}

.sidebar__links {
  width: 80%;
}

@media screen and (max-width: 700px) {
  .sidebar__linkdivider--state-visible {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .sidebar__linkdivider--state-visible {
    width: 500px;
  }
}